/* USE */
html {
	
}

body { /*background-color: #D5D5D5; /*E8E8E8 F8 D5*/
	background-image: url('/images/design/bg-main.png');
	background-repeat: repeat-x repeat-y;
	background-repeat:;
	font: 14px/17px tahoma, arial;
	font-family: Tahoma;
	font-size: small;
	margin: 0px 0px;
	padding: 0px 0px;
}

/* [ General ] */
.Main-Block-Header {
	margin-top: 0px;
	height: 100px;
	width: 100%;
	background-image: url('/images/design/main/bg-header.png');
	background-repeat: repeat-x;
}

.Table-Header {
	width: 100%;
}

#Main-Block-Header-Bottom {
	margin-top: 0px;
	height: 20px;
	width: 100%;
	background-image: url('/images/design/main/bg-header-bottom.png');
	background-repeat: repeat-x;
}

#Main-Block-New-Request {
	height: 139px;
	width: 482px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('/images/design/main/block-new-request-1.png');
	background-repeat: no-repeat;
}

#Main-Block-List-Requests {
	height: 139px;
	width: 482px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('/images/design/main/block-list-requests.png');
	background-repeat: no-repeat;
}

.Authorization-Info a {
	color: #fff;
	text-decoration: underline;
}

.Authorization-Info a:visited {
	color: #fff;
	text-decoration: underline;
}

.Authorization-Info a:hover {
	text-decoration: none;
}

.Table-Header-Menu {
	color: #fff;
}

.Table-Header-Menu-td {
	padding: 5px;
	font-weight: bold;
	font: bold 110% tahoma, Arial, Helvetica, sans-serif;
	text-align: center;
	opacity: 0.70; /* Значение прозрачности */
	filter: alpha(Opacity = 70); /* Прозрачность в IE */
}

.Table-Header-Menu-Active {
	padding: 5px;
	font-weight: bold;
	font: bold 110% tahoma, Arial, Helvetica, sans-serif;
	text-align: center;
}

.Table-Header-Menu-Active a {
	color: #000;
	text-decoration: none;
}

.Table-Header-Menu-Active a:visited {
	color: #000;
	text-decoration: none;
}

.Table-Header-Menu-td a {
	color: #000; /*e8641b A60800*/
	text-decoration: none;
}

.Table-Header-Menu-td a:visited {
	color: #000;
	text-decoration: none;
}

.Table-Header-Menu-td:hover {
	text-decoration: none;
	opacity: 1; /* Значение прозрачности */
	filter: alpha(Opacity = 100); /* Прозрачность в IE */
}

.sub-request-menu-item a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.sub-request-menu-item-active a {
	color: #f00;
	text-decoration: none;
	font-weight: bold;
}

.sub-request-menu-item-active {
	text-align: left;
	margin: 5px 5px 5px 15px;
}

/* Ajax */
div#ajaxloader {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 54px;
	height: 55px;
	display: none;
}

/* [ FOOTER ] */
.footer {
	width: 100%;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 100%;
	min-height: 3.0em;
	text-align: center;
	white-space: nowrap;
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 20px 0 70px;
}
/* [ / FOOTER ] */

/* [ REQUEST'S LIST ] */
.rl-table {
	width: 856px;
}

.rl-top-left {
	height: 10px;
	width: 10px;
	background-image: url('/images/design/requests/corner-top-left.png');
	background-repeat: no-repeat;
}

.rl-top {
	height: 10px;
	width: 836px;
	background-image: url('/images/design/requests/corner-top.png');
	background-repeat: repeat-x;
}

.rl-top-right {
	height: 10px;
	width: 10px;
	background-image: url('/images/design/requests/corner-top-right.png');
	background-repeat: no-repeat;
}

.rl-left {
	height: 10px;
	width: 10px;
	background-image: url('/images/design/requests/corner-left.png');
	background-repeat: repeat-y;
}

.rl-middle {
	height: 10px;
	width: 10px;
	background-color: #fff;
	background-repeat: no-repeat;
}

.rl-right {
	height: 10px;
	width: 10px;
	background-image: url('/images/design/requests/corner-right.png');
	background-repeat: repeat-t;
}

.rl-bottom-left {
	height: 10px;
	width: 10px;
	background-image: url('/images/design/requests/corner-bottom-left.png');
	background-repeat: no-repeat;
}

.rl-bottom {
	height: 10px;
	width: 836px;
	background-image: url('/images/design/requests/corner-bottom.png');
	background-repeat: repeat-x;
}

.rl-bottom-right {
	height: 10px;
	width: 10px;
	background-image: url('/images/design/requests/corner-bottom-right.png');
	background-repeat: no-repeat;
}

.sub-request-menu-header {
	width: 230px;
	height: 30px;
	border: 1px solid #a1a1a1;
	text-align: center;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #eaeced;
	font-weight: bold;
}

.sub-request-menu {
	width: 230px;
	min-height: 110px;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	/*text-align:center;*/
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #fff;
}

.sub-request-menu-item {
	text-align: left;
	margin: 5px 5px 5px 15px;
}

.requests-list-header {
	width: 99%;
	height: 30px;
	border: 1px solid #a1a1a1;
	text-align: center;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #eaeced;
	font-weight: bold;
}

.requests-list {
	width: 99%;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	text-align: left;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #fff;
}

.requests-list-pagination {
	margin: 5px;
	width: 99%;
	border: 1px solid #a1a1a1;
	text-align: middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
}

.icon-update {
	margin-top: 1px;
	marhin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
	width: 50px;
	color: #fff;
	font-size: 10px;
	background-color: #00f; /* e8641b */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	float: right;
}

.icon-new {
	margin-top: 0.25px;
	marhin-bottom: 0.5px;
	width: 50px;
	color: #fff;
	font-size: 10px;
	background-color: #5450ff; /* e8641b */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
	float: right;
}

.icon-hight-prioritet {
	margin-top: 1px;
	marhin-bottom: 1px;
	width: 50px;
	color: #fff;
	font-size: 10px;
	background-color: #f00; /* e8641b */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	margin-left: 1px;
	margin-right: 1px;
	float: right;
}

.table-request-info-header {
	width: 100%;
}

.div-request-info {
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #cbf6c8;
}

.r-s-done {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #cbf6c8;
}

.div-requests-list {
	
}

.div-request-info-2 {
	border-bottom: 1px solid #d2d5d7;
}

.div-request-info-2:hover {
	background-color: #f0eef0;
}

.div-request-else {
	border-bottom: 1px solid #d2d5d7;
	background-color: #fcfcfc;
}

.div-request-unread {
	border-bottom: 1px solid #d2d5d7;
	background-color: #e4ebfb; /*#F0F3FC;*/
}

.div-request-else:hover {
	background-color: #f0eef0;
}

.table-request-info {
	width: 100%;
	text-decoration: none;
}

/**/
.table-request-info-header-td-empty {
	width: 20px;
}

.table-request-info-header-td-status {
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: center;
	width: 150px;
	padding: 5px 5px 5px 5px;
}

.table-request-info-header-td-date {
	width: 150px;
	color: #000;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
}

.table-request-info-header-td-update-date {
	width: 150px;
	color: #000;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
}

.table-request-info-header-td-prioritet {
	width: 100px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
}

.table-request-info-header-td-general {
	font-weight: bold;
	text-align: left;
	padding: 0px;
}

.a_request_list_header {
	text-decoration: none;
	color: black;
	border-bottom: 1px dotted #000;
	vertical-align: middle;
}

/**/
a.table-request-info {
	
}

a.table-request-info:hover {
	
}

.tr-request {
	
}

.td-request {
	
}

.td-empty {
	width: 20px;
}

.td-request-atr-number {
	font-size: 14px;
	color: #e8641b;
	color: #000;
	font-weight: bold;
	text-align: left;
	padding: 5px 5px 0px 0px;
}

.td-request-atr-status {
	color: #e8641b;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding: 5px 5px 5px 5px;
	width: 150px;
}

.td-request-atr-text {
	color: #000;
	color: #e8641b;
	font-size: 12px;
	text-align: justify;
	padding: 5px 5px 0px 0px;
}

.td-request-atr-creation-date {
	width: 150px;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 5px 5px 5px;
}

.td-request-atr-change-date {
	width: 150px;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 5px 5px 5px;
}

.td-request-atr-prioritet {
	width: 150px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 5px 5px 5px;
	text-decoration: none;
	color: #000;
}

.td-request-atr-author {
	width: 50%;
	color: #a1a1a1;
	font-size: 10px;
	text-align: left;
	padding: 0px 5px 5px 0px; /* top left bottom right*/
}

.td-request-general {
	max-width: 150px;
	overflow: hidden;
	text-align: left;
}

.pagination {
	padding: 2px 2px;
	margin: 2px 2px;
	width: 15px;
	height: 15px;
	float: left;
	text-align: center;
}

a.a-pagination {
	width: 15px;
	height: 15px;
	text-align: center;
	color: #000;
}

div.pager {
	padding: 10px 0 10px 0;
	text-align: center;
}

div.pager span {
	padding: 0 5px 0 5px;
}

div.pager input.prev {
	width: auto;
	margin-right: 10px;
}

div.tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}

div.pager input {
	font-size: 12px;
	width: 50px;
	border: 1px solid #330000;
	text-align: center;
}

.icon-request {
	border-top: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	width: 10px;
	height: 40px;
}

/* [ REQUEST CARD ] */
.request-card {
	width: 800px;
	background-color: #fff;
	border-top: 1px solid #a1a1a1;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

.rc-general-backend {
	width: 100%;
	padding: 5px 5px -10px 5px;
}

.rc-ex-backend {
	padding: 5px 5px 5px 5px;
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	background-color: #eaeced;
	margin: 10px 0px 10px 0px;
}

.table-white-bg {
	background-color: #fff;
}

.request-card-font {
	font-weight: bold;
	color: #000;
}

.table-general {
	width: 100%;
}

.r-table-ex {
	width: 100%;
}

.rc-comment {
	text-align: left;
}

.rc-author {
	margin: 5px 5px 5px 5px;
	font-weight: normal;
}

.rc-title {
	color: #e8641b;
	font-weight: bold;
	text-align: right;
	font-size: 16px;
	padding: 5px 5px 0px 5px;
}

.request-text-header {
	color: #e8641b;
	font-size: 16px;
}

.rc-status {
	color: #a1a1a1;
	text-align: right;
	font-weight: bold;
	font-size: 10px;
	padding: 0px 5px 5px 5px;
	text-decoration: none;
}

/* [ / REQUEST CARD] */

/* [ / REQUEST'S LIST ] */

/* [/ General] */

/* NOT USE */
img {
	border: none;
}

a {
	cursor: pointer;
}

#header {
	height: 150px;
	width: 100%;
}

#header a:hover a:link a:visited {
	color: #fff;
}

#header a:link {
	color: #fff;
}

#header a:visited {
	color: #fff;
}

/* [ РђРІС‚РѕСЂРёР·Р°С†РёСЏ ] */
.footer_auth {
	height: 25px;
	left: 50%;
	top: 100%;
	position: absolute;
	margin-top: -30px;
	margin-left: -40%;
	width: 80%;
	text-align: center;
}

#Main-Block-Header-Bottom-Auth {
	margin-top: 0px;
	height: 20px;
	width: 100%;
	background-image: url('/images/design/main/bg-header-bottom-auth.png');
	background-repeat: repeat-x;
}

.tab-login {
	width: 400px;
	height: 250px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin-left: -200px;
	margin-top: -175px;
	padding: 5px 5px 5px 5px;
	background-image: url('/images/design/main/bg-auth2.png');
	background-repeat: repeat-x;
	border: 1px solid #a1a1a1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.logo-sd-auth {
	width: 85px;
	height: 85px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin-left: -42.5px;
	margin-top: -170px;
}

.history-title {
	text-align: left;
}

.history-head {
	text-align: center;
	padding: 5px 5px 5px 5px;
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	background-color: #eaeced;
	margin: 10px 0px 10px 0px;
}

.cw-itemname {
	width: 200px;
	font-weight: bold;
	padding: 5px;
}

#request_new {
	width: 175px;
	height: 20px;
	background: #FFF; /*#e8641b*/
	padding: 0.75em 0;
	text-decoration: underline;
	font-weight: bold;
	border: 0 none;
	cursor: pointer;
	border-radius: 5px;
	vertical-align: middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#request_list {
	width: 175px;
	height: 20px;
	background: #FFF; /*#e8641b*/
	padding: 0.75em 0;
	text-decoration: underline;
	font-weight: bold;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	vertical-align: middle;
}

#request_statistics {
	width: 175px;
	height: 20px;
	background: #FFF; /*#e8641b*/
	padding: 0.75em 0;
	text-decoration: underline;
	font-weight: bold;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	vertical-align: middle;
}

#request_help {
	width: 175px;
	height: 20px;
	background: #FFF; /*#e8641b*/
	padding: 0.75em 0;
	text-decoration: underline;
	font-weight: bold;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	vertical-align: middle;
}

.request_extra_link_button {
	font-weight: normal;
	text-decoration: none;
	width: 100px;
	height: 20px;
	padding: 2px 15px;
	background: #1B3169;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit].send {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit].back {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=button].back {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit].save {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit].agree {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit].disagree {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=button].disagree-with-comment {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=button].apply-statistics-enabled {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=button].apply-statistics-disabled {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #a1a1a1;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit].inwork {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit].done {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit].chooseexecutors {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit].sign {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit].unsign {
	width: 150px;
	height: 35px;
	padding: 5px 15px;
	background: #e8641b;
	font-weight: bold;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* [ / --------------------------------- ] */

/* РћС„РѕСЂРјР»РµРЅРёРµ СЃРІРµСЂС‚РѕС‡РЅС‹С… СЃРїРёСЃРєРѕРІ */
.div_active_plus {
	background: url('/images/iicons/plus.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

.div_active_minus {
	background: url('/images/iicons/minus.png');
	background-position: center;
	background-repeat: no-repeat;
}
/* [ / --------------------------------- ] */
.popup {
	display: inline-block;
	/* РЎС‚СЂРѕС‡РЅРѕ-Р±Р»РѕС‡РЅС‹Р№ СЌР»РµРјРµРЅС‚ */
	position: relative;
	/* РћС‚РЅРѕСЃРёС‚РµР»СЊРЅРѕРµ РїРѕР·РёС†РёРѕРЅРёСЂРѕРІР°РЅРёРµ */
}

.popup:hover::after {
	content: attr(data-title);
	/* Р’С‹РІРѕРґРёРј С‚РµРєСЃС‚ */
	position: absolute;
	/* РђР±СЃРѕР»СЋС‚РЅРѕРµ РїРѕР·РёС†РёРѕРЅРёСЂРѕРІР°РЅРёРµ */
	left: 80%;
	top: 80%;
	/* РџРѕР»РѕР¶РµРЅРёРµ РїРѕРґСЃРєР°Р·РєРё */
	z-index: 1;
	/* РћС‚РѕР±СЂР°Р¶Р°РµРј РїРѕРґСЃРєР°Р·РєСѓ РїРѕРІРµСЂС… РґСЂСѓРіРёС… СЌР»РµРјРµРЅС‚РѕРІ */
	background: rgba(255, 255, 230, 0.9);
	/* РџРѕР»СѓРїСЂРѕР·СЂР°С‡РЅС‹Р№ С†РІРµС‚ С„РѕРЅР° */
	font-family: Arial, sans-serif;
	/* Р“Р°СЂРЅРёС‚СѓСЂР° С€СЂРёС„С‚Р° */
	font-size: 11px;
	/* Р Р°Р·РјРµСЂ С‚РµРєСЃС‚Р° РїРѕРґСЃРєР°Р·РєРё */
	padding: 5px 10px; /* РџРѕР»СЏ */
	border: 1px solid #333;
	/* РџР°СЂР°РјРµС‚СЂС‹ СЂР°РјРєРё */
}