<!DOCTYPE html>

<?php
	// Определяем список общеиспользуемых переменных
	$Access = New Access();
	$UIPerson = $Access->GetCurrentUser();
	$UIIsAdministrator = false;
	$UIIsLogin = ($Access->IsLogin())?true:false;
	if($UIIsLogin) $UIIsAdministrator = ($Access->IsAdministrator())?true:false;
	$UIURL = join('',explode('*!*',$_SERVER['REQUEST_URI']));
?>

<html>
<head>
<title>
	<?php echo $this->ShowTitle(); ?>
</title>

<meta http-equiv="Content-Language" content="ru" />
<meta content="text/html; charset=utf-8" http-equiv=Content-Type />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="description" content="ServiceDesk" />
<meta name="keywords" content="ServiceDesk" />
<meta name="robots" content="index,follow" />
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache" />
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

<?php echo $this->ShowStyle();?>

<link rel="stylesheet" media="all" type="text/css"
	href="/js/themes/ui-lightness/jquery-ui-1.8.4.custom.css" />

<script language="Javascript" src="/js/jquery-1.4.2.js"></script>
<script language="Javascript" src="/js/jquery-ui-1.8.5.custom.min.js"></script>

<script type="text/javascript">
		$(document).ready(function(){
			$('.btn-slide-bottom').toggle(function(){
				$(this).parent().parent().find('.panel-bottom').animate({'height': '150px'}, 'fast');
				$(this).toggleClass('active-bottom'); 
				return false;
			},function(){
				$(this).parent().parent().find('.panel-bottom').animate({'height': '0px'}, 'fast');
				$(this).toggleClass('active-bottom'); 
				return false;
			});
		});
		
		window.onload=function(){
			window.setTimeout(function(){
                window.addEventListener( "popstate", function(e) {window.history.go(0);},false);
			},1);
        }
		
		
		//var g_sAutoReloadNotificationsListHref = '/requests-ajax/?action=notify';
		
		//	function AutoReloadList1() {
		//		$("#notify").load(g_sAutoReloadNotificationsListHref);
		//	}
		  
		//  setInterval("AutoReloadList1()",10000);
	</script>



</head>
<body id="body">

	<div id="notify"></div>

	<!-- HEADER -->
	<?php 
if ($UIIsLogin) {

echo "

<script>setInterval('AutoReloadList1()',10000);</script>

<div class='Main-Block-Header'>
	<table border='0' cellspacing='0' cellpadding='0' class='Table-Header'>
		<tr>
			<td style='width:150px'>
				<a href='/'><img src='/images/logo/logo-sd-1.png' style='width:85px; height:85px; display:block; margin:5px auto 5px;' /></a>
			</td>
			<td>
				<table border='0' cellspacing='0' cellpadding='0' class='Table-Header-Menu'>
					<tr><td width='100px'></td>
";
 
echo "<!-- ";
						if($UIURL=='/') {
							echo "<td class='Table-Header-Menu-Active'>";
						} else {
							echo "<td class='Table-Header-Menu-td'>";
						}

echo "
						<a href='/'>Главная</a></td>
						";
echo " -->";						
						if($UIURL=='/requests/?action=request-form&id=0') {
							echo '<td class="Table-Header-Menu-Active">';
						} else {
							echo '<td class="Table-Header-Menu-td">';
						}
echo "
						<a href='/requests/?action=request-form&id=0'><div id='request_new'>Новый запрос</div></a></td>
						"; 


						if($UIURL=='/requests/?action=requests-list&type=inwork&category=inwork') {
							echo '<td class="Table-Header-Menu-Active">';
						} else {
							echo '<td class="Table-Header-Menu-td">';
						}
echo "						
						<a href='/requests/?action=requests-list&type=inwork&category=inwork'><div id='request_list'>Список запросов</div></a></td>
						";

                        if($UIURL=='/statistics/') {
                        echo '<td class="Table-Header-Menu-Active">';
                            } else {
                            echo '<td class="Table-Header-Menu-td">';
                            }
echo "
                            <a href='/statistics'><div id='request_list'>Аналитика</div></a></td>
                        ";

						if($UIURL=='/help/') {
							echo '<td class="Table-Header-Menu-Active">';
						} else {
							echo '<td class="Table-Header-Menu-td">';
						}
echo "
						<a href='/help'><div id='request_help'>Помощь</div></a></td>
					</tr>
				</table>
			</td>
			<td class='Authorization-Info' style='width:300px'>
				<table border='0' cellspacing='0' cellpadding='0' width='100%'>
					<tr><td align='center'><b style='color:#e8641b'>".$UIPerson->GetOrganizationName()."</b></td></tr>						
					<tr><td align='center'><a href='/personal_room/?action=user-editinfo '>".$UIPerson->GetFIO()."</a></td></tr>
				<tr><td align='center'><a href='/?logout'>Выход</a></td></tr></table>
			</td>
		</tr>
	</table>
</div>
<div id='Main-Block-Header-Bottom'>&nbsp;</div>
<!-- /END HEADER -->


";
} else {
echo"	<div id='Main-Block-Header-Bottom-Auth'>&nbsp;</div>";
}
?>


	<!-- ОСНОВНАЯ ЧАСТЬ -->

	<!-- ТЕЛО СТРАНИЦЫ -->
	<div id="jquery_load">
		<?php echo $this->ShowContent();?>
	</div>
	<!-- /END ТЕЛО СТРАНИЦЫ -->

	<?php
    if ($UIIsLogin) {
    echo '
    <!-- ПОДВАЛ -->
    <br/>
    <div id="footer">
        <table align="center" style="width:80%; border-top: 1px solid grey">
            <tr><td><center><font color="grey">-</font></center></td></tr>
        </table>
    </div>

    <!-- /END Подвал -->
    ';
    }
?>

	<!-- /END ОСНОВНАЯ ЧАСТЬ -->

	<script>

        function ShowAjaxLoader() {
            $("#ajaxloader").show();
        }

        function HideAjaxLoader() {
            $("#ajaxloader").hide();
        }

        function LoadContent(href, parameters) {
            ShowAjaxLoader();
            //alert(parameters);
            $("#jquery_load").load(href, parameters, HideAjaxLoader);
        }

        function LoadContentWFormPost() {
            LoadContent("/requests-ajax/", $("#ajaxform").formSerialize());
            return false;
        }
	
	function FinishLoad() {
        HideAjaxLoader();
	}
	
	function AddClickHandlers() {
		$("a.remote").click(function(e) {
			e.preventDefault();
			LoadContent(this.href, {});
			return false;
		});
		$("a.remote-post").click(function(e) {
			e.preventDefault();
			LoadContent(this.href, $("#ajaxform").formSerialize());
			return false;
		});
		$("a.remote-url").click(function(e) {
			e.preventDefault();
			LoadContent(this.href, {});
			return false;
		});
	}
	
	function AddFormsHandlers()	{
		$("form").submit(function(){
			$(this).ajaxSubmit({"target":"#jquery_load","beforeSubmit": showRequest});
			return false;
		});
	}

	$("#jquery_load").ajaxComplete(AddClickHandlers);
	$(document).ready(AddClickHandlers);

	function showRequest(formData, jqForm, options) { 
        var queryString = $.param(formData);

        alert('About to submit: \n\n' + queryString);
        return true;
	}	
</script>

	<div id="ajaxloader">
		<img src="/images/ajax-loader14.gif" />
	</div>

</body>
</html>
